spring:
  datasource:
    url: jdbc:mysql://localhost:3306/swole_platform?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8080

logging:
  level:
    com.swole.platform: DEBUG
    org.springframework.security: DEBUG

jwt:
  secret: swoleplatformsecret
  expiration: 86400000